:root{
    --primario: #1073ba;
    --secundario: #00da55;
    --blanco: #fff;
    --gris: #3b3b3b;
    --negro:#1f1e1e;
    --grisClaro: #e1e1e1;

    --separacion: 5rem;

    --fuentePrincipal: 'Roboto', sans-serif;
    --fuenteSecundaria: 'Lato', sans-serif;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.5;
}

/** Globales **/

.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
h1, h2, h3{
    font-weight: 900;
    font-family: var(--fuenteSecundaria);
    margin: calc(var(--separacion) / 2) 0;
}
h1{
    font-size: 4.4rem;
}
h2{
    font-size: 3.6rem;
}
h3{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
    display: inline-block;
    height: auto;
}

/** Utilidades **/

.text-center{
    text-align: center;
}

/** Degradado **/

.degradado-verde{
    color: transparent;
    background: linear-gradient(to right, var(--primario)0%, var(--secundario) 100%);
    -webkit-background-clip: text;
    background-clip: text;
}
/** Header **/
.header{

    background-color: var(--negro);
    padding: calc(var(--separacion) * 2) 0;
    color: var(--blanco);
    

}
.imagen-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.texto-header{
    text-align: center;
    padding-top: 5rem;
    
}
.nombre-producto{
    font-size: 5rem;

}
.texto-header p{
    margin: 0;
}

.tagline-producto{
    font-size: 3rem;
    font-weight: 900;
}

.precio-producto span{
    font-weight: 900;
    font-size: 3rem;
}

@media (min-width: 768px){ 
    .contenido-header{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .texto-header{
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }
    .nombre-producto{
        font-size: 10rem;
    }
    
}

/** seccion Iconos **/

.iconos img{
    height: 10rem;
    
}
.iconos{
    text-align: center;
    margin: 5rem 0;
}
.icono h3{
    color: var(--primario);
    text-transform: uppercase;

}
@media (min-width: 768px){ 
    .iconos{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 2rem;
        
    }
    .icono p{
        text-align: left;
    }
}

/** Sobre tech **/
.sobre-tech{
    background-image: linear-gradient(to bottom, transparent 50%, var(--primario) 0%), url(../img/imagen-mujer.jpg);
    background-repeat: no-repeat;
    background-position: right;
    
}
@media (min-width: 768px){ 
    .sobre-tech{
    background-image: linear-gradient(to left, transparent 50%, var(--primario) 0%), url(../img/imagen-mujer.jpg);
    background-repeat: no-repeat;
    background-size: 100%, 120rem;
    background-size: 100%, 100%;

    }
}
.sobre-tech-grid{
    display: grid;
    grid-template-rows: repeat(2, 40rem);
    row-gap: 5rem;

}
@media (min-width: 768px){ 
  .sobre-tech-grid{
    grid-template-rows: unset;
    row-gap: unset;
    grid-template-columns: repeat(2,1fr);
    column-gap: 4rem;
    padding: 2rem 0;
    
  }


}


.texto-sobre-tech{
    grid-row: 2/3;
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;

}
.texto-sobre-tech p{
    font-size: 2rem;
    line-height: 2;

}
.texto-sobre-tech h2{
    font-size: 4rem;
}
